@use './index' as *;

:root {

   // Fonts 
   --primaryFont: "Jost", sans-serif;
   
   // Theme colours
   --black:  #000000;
   --white: #ffffff;
   --light-grey: #F5F5F5;
   --primary: #162035;
   --primary-hover: #374768;

   // Spacing 
   --mobileGap: 20px;
   --desktopGap: 40px;

   // Bos Shadow
   --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

   // Heights
   --logo-height: 55px;
   --logo-height-mobile: 40px;
   --top-header-height: 44px;
}