@use '../../../src/scss/theme/index' as *;

.card-slider {

    &__content {
        max-width: 700px;
        text-align: center;
        margin: auto;
    }

    &__inner {
        margin: 0px 60px;

        .splide__arrow--prev {
            left: -60px;
        }

        .splide__arrow--next {
            right: -60px;
        }
    }

    &__card-image {
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        height: 220px;
    }

    &__card-content {
        margin-top: 10px;
        padding-top: 10px;
    }
}