@use './index' as *;

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	font-size: 100%;
	min-height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
	overflow-x: hidden;

	@media screen and (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}

	&.no-scroll {
		overflow: hidden;
	}

	@media (max-width: 520px) {
		&.mobile-no-scroll{
			overflow: hidden; 
		}
	}
}

body {
	overflow-x: initial;
	-webkit-font-smoothing: antialiased;
	position: relative;
	font-optical-sizing: auto;
	margin-inline: auto;
	line-height: 1.3;

	&:not(.block-editor-page) {
		margin-top: calc(var(--logo-height) + 20px);

		&.header-top-show {

			@include breakpoint(md) {
				margin-top: calc(var(--logo-height) + var(--top-header-height) + 20px);
			}
		}
	}

	@include breakpoint(md) {
		&.mega-menu-open {
			&::after {
				position: absolute;
				content: '';
				z-index: 9;
				background-color: rgba(0,0,0, 0.6);
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}

.container{
	max-width: 1400px;
	width: 100%;
  	margin-inline: auto;
	padding-inline: 20px;

	@include breakpoint(md) {
		padding-inline: $gap;
	}
}
