@use '../../../src/scss/theme/index' as *;

.contact-form {

    &__inner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    &__left {

        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        width: 100%;
        overflow: hidden;
        padding: 30px;
        border-radius: 2px;

        h2, p {
            margin-bottom: 0;
            color: white;
            z-index: 1;
        }

        a {
            color: white;
            position: relative;
            align-self: flex-start;
            z-index: 1;

            &:after {
                position: absolute;
                content: '';
                left: 0;
                bottom: -2px;
                width: 0px;
                height: 1px;
                background-color: var(--turqoise);
                transition: width 0.3s ease-in-out;
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }

        &:after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg,rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0.56) 67%, rgba(20, 20, 20, 0) 100%);        
        }

        .contact-container {

            a {
                position: relative;
                z-index: 1;

                padding-left: 30px;

                &::before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 2px;
                    width: 20px;
                    height: 20px;
                    background-position: center;
                    background-size: cover;
                    background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' width='800px' height='800px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M8.194 1.156c1.169 1.612 2.563 3.694 4.175 6.237 0.406 0.688 0.344 1.512-0.181 2.481-0.2 0.406-0.706 1.331-1.512 2.787 0.887 1.25 2.238 2.787 4.056 4.6s3.331 3.169 4.538 4.056c1.45-0.85 2.381-1.369 2.788-1.575 0.525-0.281 1.031-0.425 1.512-0.425 0.363 0 0.688 0.081 0.969 0.244 1.856 1.131 3.956 2.525 6.294 4.175 0.444 0.325 0.694 0.769 0.756 1.331 0.063 0.569-0.113 1.169-0.512 1.819-0.2 0.281-0.525 0.694-0.969 1.244-0.444 0.544-1.113 1.231-2 2.056s-1.613 1.244-2.181 1.244h-0.063c-4.269-0.169-9.531-3.369-15.762-9.6-6.237-6.238-9.438-11.494-9.6-15.769 0-0.563 0.412-1.3 1.244-2.212 0.825-0.906 1.506-1.563 2.025-1.969 0.525-0.4 0.969-0.725 1.331-0.969 0.444-0.325 0.95-0.481 1.513-0.481 0.694 0 1.212 0.244 1.581 0.725zM6.194 2.425c-0.85 0.606-1.644 1.287-2.394 2.031-0.744 0.75-1.181 1.3-1.3 1.662 0.163 3.756 3.156 8.537 8.988 14.35s10.625 8.819 14.375 9.019c0.325-0.119 0.856-0.563 1.606-1.331s1.425-1.575 2.025-2.419c0.119-0.163 0.163-0.3 0.119-0.425-2.419-1.694-4.438-3.044-6.056-4.056-0.163 0-0.363 0.063-0.606 0.181-0.363 0.2-1.269 0.706-2.725 1.512l-1.031 0.606-1.031-0.669c-1.331-0.925-2.944-2.363-4.844-4.3-1.894-1.894-3.306-3.512-4.238-4.844l-0.725-0.969 0.606-1.088c0.806-1.45 1.313-2.363 1.512-2.725 0.119-0.244 0.181-0.444 0.181-0.606-1.438-2.294-2.769-4.313-3.981-6.050h-0.063c-0.156 0-0.3 0.044-0.419 0.119z'/%3E%3C/g%3E%3C/svg%3E");
                }
            }

            &.email {
                a {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid' width='800px' height='800px' viewBox='0 0 31.781 31.906' stroke='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M28.802,31.908 L2.981,31.908 C1.338,31.908 0.001,30.566 0.001,28.915 L0.001,13.951 C0.001,13.938 0.008,13.928 0.008,13.916 C0.009,13.880 0.021,13.846 0.029,13.811 C0.040,13.731 0.054,13.655 0.084,13.580 C0.088,13.566 0.089,13.551 0.095,13.538 C0.115,13.495 0.146,13.459 0.174,13.420 C0.201,13.379 0.213,13.333 0.245,13.295 C0.262,13.276 0.284,13.269 0.301,13.252 C0.309,13.244 0.314,13.233 0.322,13.225 C0.331,13.216 0.335,13.205 0.344,13.197 L4.967,9.172 L4.967,4.973 C4.967,4.422 5.412,3.975 5.960,3.975 L10.937,3.975 L15.241,0.228 C15.615,-0.096 16.168,-0.096 16.542,0.228 L20.847,3.975 L25.823,3.975 C26.372,3.975 26.816,4.422 26.816,4.973 L26.816,9.172 L31.440,13.197 C31.449,13.205 31.452,13.217 31.462,13.225 C31.470,13.233 31.475,13.244 31.483,13.253 C31.500,13.269 31.522,13.277 31.538,13.295 C31.570,13.332 31.582,13.378 31.607,13.418 C31.636,13.458 31.668,13.495 31.688,13.538 C31.694,13.552 31.695,13.567 31.699,13.581 C31.729,13.655 31.742,13.730 31.753,13.808 C31.762,13.844 31.774,13.879 31.775,13.916 C31.775,13.928 31.782,13.938 31.782,13.951 L31.782,28.915 C31.782,30.566 30.445,31.908 28.802,31.908 ZM28.298,29.913 L15.988,18.957 C15.955,18.929 15.827,18.929 15.783,18.967 L3.485,29.913 L28.298,29.913 ZM1.906,28.652 L9.030,22.312 L1.906,16.073 L1.906,28.652 ZM2.508,13.953 L4.967,16.106 L4.967,11.813 L2.508,13.953 ZM15.892,2.302 L13.970,3.975 L17.813,3.975 L15.892,2.302 ZM20.759,5.906 C20.665,5.935 20.570,5.967 20.472,5.967 C20.356,5.967 20.240,5.947 20.129,5.906 L6.906,5.906 L6.906,17.805 L10.529,20.978 L14.478,17.463 C15.277,16.776 16.506,16.776 17.293,17.453 L21.253,20.977 L24.906,17.779 L24.906,5.906 L20.759,5.906 ZM26.816,11.813 L26.816,16.106 L29.274,13.953 L26.816,11.813 ZM29.906,16.047 L22.753,22.312 L29.906,28.678 L29.906,16.047 Z'/%3E%3C/g%3E%3C/svg%3E");                
                    }
                }
            }

            &.location {
                a {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' width='800px' height='800px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M16.114-0.011c-6.559 0-12.114 5.587-12.114 12.204 0 6.93 6.439 14.017 10.77 18.998 0.017 0.020 0.717 0.797 1.579 0.797h0.076c0.863 0 1.558-0.777 1.575-0.797 4.064-4.672 10-12.377 10-18.998 0-6.618-4.333-12.204-11.886-12.204zM16.515 29.849c-0.035 0.035-0.086 0.074-0.131 0.107-0.046-0.032-0.096-0.072-0.133-0.107l-0.523-0.602c-4.106-4.71-9.729-11.161-9.729-17.055 0-5.532 4.632-10.205 10.114-10.205 6.829 0 9.886 5.125 9.886 10.205 0 4.474-3.192 10.416-9.485 17.657zM16.035 6.044c-3.313 0-6 2.686-6 6s2.687 6 6 6 6-2.687 6-6-2.686-6-6-6zM16.035 16.044c-2.206 0-4.046-1.838-4.046-4.044s1.794-4 4-4c2.207 0 4 1.794 4 4 0.001 2.206-1.747 4.044-3.954 4.044z'/%3E%3C/g%3E%3C/svg%3E");
                    }
                }
            }
        }
    }

    &__right {

        .forminator-row {
            margin-bottom: 24px !important;
        }

        .forminator-field {

            .forminator-description {
                display: none !important;
            }

            .forminator-button {
                box-shadow: none !important;
                outline: none !important;
            }
        }
    }
}

@include breakpoint(md) {
    .contact-form {

        &__inner {
            grid-template-columns: repeat(2, 1fr);
            gap: 60px;
        }
    }
}